@font-face {
    
    font-family: 'hack';
    font-style: normal;
    src:  url('font-pic/Hack-Regular.ttf') format('ttf');
  }
  @font-face {
    
    font-family: 'hack';
    font-style: bold;
    src:  url('font-pic/Hack-Bold.ttf') format('ttf');
  }

body{
    font-family: 'hack', Arial;
    /* background-color:#66cccc; */
    background-color: #0099ff;


}
.bg{

}


.left{
    display: inline-block;
    padding-left: 82%;
  
}
.right{
    display: inline-block;
    margin-left: 5%;

}
.logo{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.logo img{
    width: 150px;
    height: 150px;
}
.content{
    color : #990099;
    margin-top: 30px;
    width: 90%;
    height: 500px;
    padding-top: 10px;
    background-color: #99ffff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.67);
}
.text{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.near{
    margin-top:-10px;
    margin-bottom: auto;
}
.footer{
    margin-top: 20px;
    text-align: center;
}
.bold{
    font-style: italic;
}

.rotate img {
    margin-top: 100px;
    width: 200px;
    height: 200px;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.rotate img:hover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
